body{
    background-repeat: no-repeat;
    background-size: 100% 120%;

}
#displayBar{
    float: right;
    font-family: 'Lobster', cursive;
font-size: 60px;

}
.display{
    margin-top: 110px;
    height: 80px;
border: solid 1px;
    background-color: whitesmoke;

}
.cool{
    height: 100px;
    background-color: rgb(220,220,220);
    border: solid 1px;
    font-family: 'Lobster', cursive;
    text-align: center;
font-size: 50px;
}
.orange{
    height: 100px;
    background-color: rgb(255,140,0);
    border: solid 1px;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;


}
.special{
    height: 100px;
    background-color: rgb(220,220,220);
    border: solid 1px;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 50px;

}
